<div style="margin-bottom: 10px;" class="jumbotron color">
  <h1>Welcome to my blog</h1>
  <p>This is where I will post about random stuff</p>
  <p><a class="btn btn-primary btn-lg" role="button" href="/blog">Go to the posts</a></p>
  <p><a class="btn btn-primary btn-lg" role="button" href="http://ericzeiberg.com">Go to my main website</a></p>
</div>
