<div style="margin-bottom: 10px;" class="jumbotron color">
  <h1><%= @post.name %><small><div style="font-size: 30px;" class="pull-right"><%= @post.category.name %></div></small></h1>
  <hr>
  <h4><%= @post.contents.html_safe %></h4>
</div>
